.contenue {
    text-align: center;
    margin-top: 64px;
}

.inscription-title {
    font-size: 25px;
    color: #2196F3;
    margin-bottom: 30px;
}

.container-input {
    margin-bottom: 20px;
}

.input-contenue {
    width: 300px;
    height: 40px;
    border: 1px solid #9E9E9E;
    border-radius: 20px;
}

.inscription-button {
    width: 150px;
    height: 40px;
    background-color: #03A9F4;
    color: white;
    border: none;
    border-radius: 20px;
}

.errror {
    color: red;
}

.table-voiture {
    width: 100%;
    padding: 30px;
    border-collapse: collapse;
}

.td-voiture {
    padding: 24px;
    color: grey;
}

.td-voiture-titre {
    font-size: 20px;
    color: #2196F3;
    padding: 14px;
    font-weight: bold;
}

table, th, td {
    border: 1px solid #9e9e9e;
}

.titre {
    font-size: 35px;
    color: grey;
}

.value {
    font-size: 33px;
    color: #2196F3;
}

.add-voiture{
    text-align: right;
    margin-bottom: 20px;
}
